<div class="row">
  <div class="col-md-8">
    <h4><%= @homework.title %></h4>
    <span><%= @homework.question %></span>
  </div>
  <div class="col-md-4">
    <h4>Due Date: <%= @homework.due_date %></h4>
    <div class="btn-group">
      <%= link_to 'view all assignments', students_assignments_path, class: 'btn btn-info' %>
      <%= link_to '+ new submission', new_students_assignment_submission_path(@assignment), class: 'btn btn-success' %>
    </div>
  </div>
</div>