<%= render_page_header("#{@assignments.count} assignments") %>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <td>Homework</td>
          <td>Due Date</td>
          <td class="text-right"></td>
        </tr>
      </thead>
      <tbody>
        <%- @assignments.each do |a| %>
          <tr>
            <td>
              <%= a.homework.title %>
            </td>
            <td>
              <%= print_due_date(a.homework.due_date) %>
            </td>
            <td class="text-right">
              <%= link_to 'view submissions', students_assignment_submissions_path(a), class: 'btn btn-primary' %>
              <%= link_to '+ new submission', new_students_assignment_submission_path(a), class: 'btn btn-primary'%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @assignments %>
  </div>
</div>