<%= render_page_header("#{@assignments.count} assignments") %>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <td>Homework</td>
          <td>Due Date</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <%- @assignments.each do |a| %>
          <tr>
            <td>
              <%= a.homework.title %>
            </td>
            <td class="text-danger">
              <%= a.homework.due_date %>
            </td>
            <td>
              <div class="btn-group">
                <%= link_to 'view submissions', students_assignment_submissions_path(a), class: 'btn btn-info' %>
                <%= link_to '+ new submission', new_students_assignment_submission_path(a), class: 'btn btn-success'%>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @assignments %>
  </div>
</div>